<!-- <app-custom-dia-one></app-custom-dia-one>
<br>
<hr>
<app-custom-dia-two></app-custom-dia-two> -->
<!-- <button (click)="showPopUp()">Click to create popup</button>
<button (click)="showTemplate()">
    Click to create template
</button>
<button (click)="showTemplate2()">
    Click to create template2
</button>
<button (click)="removeTemplate()">
    Click to remove template
</button>

<ng-template #sampleTemplate let-data="data">
<h1>Hello from template {{data}}</h1>
</ng-template>

<ng-template #sampleTemplate2 let-data="data">
    <h1>Hello from template 2 {{data}}</h1>
    </ng-template> -->
    <h1>{{ 'child.name' | translate }}</h1>
    <p>{{ 'child.value' | translate }}</p>

    <button (click)="changeLanguage('en')">English</button>
    <button (click)="changeLanguage('fr')">Español</button>
    <!-- <app-value-acc></app-value-acc> -->